@import "tailwindcss";
@plugin "daisyui";

.app-bg {
  background: url("/wearwolf-logo-1.png") center/contain no-repeat,
    radial-gradient(
      ellipse 80% 80% at 50% -20%,
      rgba(120, 119, 198, 0.3),
      transparent
    ),
    #0a0a0a;
  background-blend-mode: soft-light; /* Controls how image & bg blend */
  background-attachment: fixed;
}


html {
  /* For modern browsers */
  scrollbar-gutter: stable;

  /* Fallback for older browsers */
  overflow-y: scroll;
}

